/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




.topnav{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 599px;
    height: 100px;
}
nav {
    z-index: 4000;
    display: block;
    height: 200px;
    margin-bottom: -65px;
    box-shadow: 0 4px 6px -6px #222;
}
.hamburger{
    font-weight: 500;
    font-family: 'Sora', sans-serif;
    background-color: #ffffff;
}
h2{
    display: none;
}
nav ul {
    text-align: center;
}
nav ul {
    z-index: 2;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
nav li a {
    z-index: 3;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
nav ul li a{
    z-index: 45;
}
ul li a:hover{
    color:#E2D7AB;
    font-size: 20px;
    background-color:#0c132e;
}
header label {
    margin-bottom: -30px;
    z-index: 3;
    padding: 16px 30px;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    user-select: none;
    margin-left: 212px;
    position: relative;
    width: 34px;
}
header label .p{
    display: flex;
    padding-top: 30px;
    margin-left: 207px ;
    margin-top:23px;
}
header label svg {
    margin-top: 25px;
    margin-right: -20px;
    margin-left: 25px;
    transform: scale(1.5);
    overflow: visible;
}
header input label span {
    z-index: 4;
    margin-top: -30px;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 138px;
}
header label span:before, header label span:after {
    background: #ffffff;
    content: '';
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    z-index: 2;
    visibility: hidden;
}
label {
    color:white;
}
blockquote, q {
    quotes: none;
    padding: 50px;
    line-height: 25px;
}
label svg {
    margin-bottom: -40px;
    padding-left:5px;
}
header label span:before {
    top: 5px;
}
header label span:after {
    top: -5px;
}
header input {
    z-index: 6;
    display: none;
}
header input:checked ~ ul {
    max-height: 500px;
}
header input:checked ~ label span {
    background: transparent;
}
header input:checked ~ label span:before {
    transform: rotate(-45deg);
}
header input:checked ~ label span:after {
    transform: rotate(45deg);
}
header input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
.topnav{
    height: 100px;
    z-index: 2000;
}
header ul li a{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.topnav img{
    margin-top: 4px;
}
.hamburger, .topnav, header label, .hamburger img, nav, header ul li a{
    background-color: #0c132e;
}
@media screen and (min-width:600px) {
    nav ul{
       height: 74px;
        background-color: #192819;
   }
    header{
        display: flex;
        justify-content: center;
   }
    nav {
        margin-bottom: -30px;
        position: fixed;
        width:100%;
        height: 135px;
        top: 0;
   }
    nav ul {
        width: 30%;
        height: 100px;
        box-sizing: border-box;
        position: absolute;
        overflow: visible;
        position: absolute;
        left:206px;
        top: 60px;
        display: flex;
   }
    header label span, header input {
        display: none;
   }
    .display{
        margin-right: 18px;
        display: block;
   }
    header h1{
        margin-top: 30px;
        margin-left: 20px;
        text-align: left;
   }
    nav ul li a{
        margin-left:-20px;
   }
    header label{
        display: none;
   }
}
